@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    
    background-image: url("./_images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: 100% 30%;
    
}